.carousel_main{
    border: 0px solid;
    width: 100%;
    height: 400px;

    .carousel1{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        background-image: url("../../images/child1.jpg");
        background-position: top left;// anclar img. vertical + horizontal
        background-size: cover;// si se expande o se duplica
        background-attachment: scroll; // img estatica o se mueve conscroll - scroll o fixed
    }

    .carousel2{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        background-image: url("../../images/child2.jpg");
        background-position: top left;
        background-size: cover;
    }

    .carousel3{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        background-image: url("../../images/child3.jpg");
        background-position: top left;
        background-size: cover;
    }

    p{
        text-align: center;
        align-items: center;
        background-color: rgba(180, 180, 180, 0.137);
        border: 10px solid rgba(255, 255, 255, 0.582);
        text-shadow: 20px;
        color: white;
        padding: 20px;
        
        .title1{
            display: flex;
            justify-content: center;
            font-size: 2rem;
            text-shadow: 0 0 3px black, 0 0 15px gray;
            margin-bottom: 10px;
        }

        .title3{
            display: flex;
            justify-content: center;
            font-size: 1rem;
            text-shadow: 0 0 3px black, 0 0 15px gray;
        }
    }

    $small: 770px;
    $medium: 900px;
    @media screen and (min-width: $small) {
        height: 600px;
        p{
            padding: 50px;
            .title1{
                font-size: 4rem;
            }
            .title3{
                font-size: 2rem;
            }
        }
    }
}