.carousel_main{

    .carousel1{
        border: 3px solid;

        height: 300px;
        width: 100%;
        background-image: url("../../images/child1.jpg");
        /* donde se va a anclar: vertical y horizontal. Siempre se vera. */
        background-position: center bottom;
        /* Si se expande o se duplica */
        background-size: cover;
        /* La foto queda estatica y no se mueve con el scroll */
        background-attachment: fixed;

    }
    .carousel2{
        border: 3px solid;

        height: 300px;
        width: 100%;
        background-image: url("../../images/child2.jpg");
        /* donde se va a anclar: vertical y horizontal. Siempre se vera. */
        background-position: center bottom;
        /* Si se expande o se duplica */
        background-size: cover;
        /* La foto queda estatica y no se mueve con el scroll */
        background-attachment: fixed;
    }

    .carousel{
        border: 3px solid;

        height: 300px;
        width: 100%;
        background-image: url("../../images/child3.jpg");
        /* donde se va a anclar: vertical y horizontal. Siempre se vera. */
        background-position: center bottom;
        /* Si se expande o se duplica */
        background-size: cover;
        /* La foto queda estatica y no se mueve con el scroll */
        background-attachment: fixed;
    }




}