.carousel_main{
    border: 3px solid;
    // background-color: #ccc;
    transition: 3s linear;

    .carousel1{
    
        height: 300px;
        width: 100%;
        background-image: url("../../images/child1.jpg");
        background-position: center bottom;// anclar img. vertical + horizontal
        background-size: cover;// si se expande o se duplica
        background-attachment: scroll; // img estatica o se mueve conscroll - scroll o fixed
    }

    .carousel2{

        height: 300px;
        width: 100%;
        background-image: url("../../images/child2.jpg");
        background-position: center bottom;
        background-size: cover;
    }

    .carousel3{

        height: 300px;
        width: 100%;
        background-image: url("../../images/child3.jpg");
        background-position: center bottom;
        background-size: cover;
    }
}