.contact_main{

    padding:20px;
    display: flex;
    // flex-direction: row;
    justify-content: center;
 
    .wrap{
            max-width: 1080px;
    }

    p{
        color: gray;
        padding:20px 5px 10px 5px;
    }

    .boxs{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .numbers{

            color:$yellow ;
            font-size: 1.7rem;
        }

        .box-text{
            padding:15px;
            display: flex;
            flex-direction: column; 
        }
    }
}