.delete_main{


display: flex;
// align-items: center;
justify-content: center;
    .wrapper{
        font-size: 0.7rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;

        max-width: 800px;
        border:1px solid black;
        max-height: 90px;
        overflow: scroll;

        .wrapper2{

            display: flex;
             border:1px solid black;
             background-color: $purple-transparent;
                // height: 35px;
            padding:1px;
            margin:1px;
             width: 98%;

            .name{
                width: 100%;
                min-width: 50px;
            }
    
            .surname{
                min-width: 50px;
                border:1px solid black;
            }

            .date{
                min-width: 40px;
                border:1px solid black;
            }
            .phone{
                min-width: 60px;
                border:1px solid black;
            }

            button{
                background-color: $purple-semitransparent;
                color: white;
                border:1px solid $purple;
                    // height: 15px;
            }
         }
    }
}