.footer__main{

    font-size: 0.7rem;
    background-color: $purple-transparent;

    hr{
        color: $purple;
    }

    .wrap{
        display: flex;
        // flex-direction: column;
        justify-content: center;
    
        .footer_menu,.footer_contact,.footer_links{
            display: flex;
            justify-content: center;
        }
    
        nav,div{
            margin-top:10px;
            width: 100%;
            display: flex;
            justify-content: left;
            ul{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    
        li,span{
            list-style: none;
            margin-top: 4px;
            margin-left: 4px;
            padding: 0px;
            color:grey;
        }
    
        .title{
                color: $yellow;
        }

        @media screen and (min-width: $small) {
            flex-direction: row;
            font-size: 1rem;
        }
    }

    .rights{

        text-align: center;
        margin: 5px;
        color: white;
        background-color: $purple;
    }
}