.footer__main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background-color: $brown;

    nav,div{
        margin-top:10px;
        width: 100%;
        display: flex;
        justify-content: left;
    }

    li,span{
        list-style: none;
        margin-top: 4px;
        margin-left: 4px;
        padding: 0px;
        color:$brown-light;
    }

    $small: 770px;
    $medium: 900px;
    @media screen and (min-width: $small) {
        flex-direction: row;
    }

}