.management_main{
    .boxButtonSelector{
        display: flex;
        justify-content: center;
        .buttonSelector{
            font-size: 1.5rem;
            background-color:$yellow-transparent;
            color: white;
            border:1px solid #ccc;
            border-radius: 5px;
            height: 30px;
            margin: 15px 5px 15px 5px;
         
            // box-shadow: 1px -1px $purple-semitransparent ;
            transition: all 0.4s;
            &:hover{
                background-color: $yellow-semitransparent;
                color: black;
            }
        }

        .buttonSelected{
            background-color:$yellow;
            color: black;
            box-shadow: none ;
            border:1px solid $purple;
        }
    }
}