.manageStudents_main{

    font-size: 1.5rem;

    .wrapper{
        display: flex;
        justify-content: center;

        .form{
            
            display: flex;
            flex-direction: column;
            width: 80%;

            input{
                font-size: 1.5rem;
                width: 100%;
                height: 40px;
                margin-top: 5px;
            }

            select{
                font-size: 1.2rem;
                margin-left: 5px;
            }

            label{
                margin-top:15px;
            }

            .button{
                margin-top: 30px;
                margin-bottom: 30px;
            }
        }
    }




}