// -------  COLORES  ------- //

// Yellow
$yellow:#ffae00;
$yellow-semitransparent:#ffae0091;
$yellow-transparent:#ffae004d;


// Purple
$purple:#3f3a70;
$purple-semitransparent:#3f3a709f;
$purple-transparent:#3f3a7017;



// Green
$green: #2b501a; 
$green-medium:lighten($green,1%);
$green-light:lighten($green,40%);
$green-shadow:lighten($green,70%);

// Brown
$brown: #5e4747;
$brown-medium:lighten($brown,5%);
$brown-light:lighten($brown,40%);
$brown-shadow:lighten($brown,70%);


// color-footer
$background_footer:#292929;
$footer_text:lighten($background_footer,70%);


// ------  MIXINS  ------- //

@mixin backColorDiv ($child){
    div{
        &:nth-child(#{$child}){
            background-color: $yellow;
            color:white;
            border-color: black;
        }
    }
}

@mixin backColorButton($child){
    div{
        &:nth-child(#{$child}){
            button{
                background-color: $purple-semitransparent;
                color:white;
                border-color: black;
            }
        }
    }
}


// ------  BREAKPOINTS  ------- //

$xSmall: 570px;
$small: 770px;
$medium: 900px;



